#editor {
  border: 1px solid black;
  padding: 0.5rem;
  display: inline-block;
  font-weight: lighter;
  border-bottom: 1px solid #232323;
  max-width: calc(100% - 32px);
  min-width: 8px;
  font-family: Pretendard;
  overflow: hidden;
	cursor: text; 
	line-height: 1em;
	font-size: 20px;
  white-space: wrap;
}
